<section class="featured-page-blocks">
	<div class="uk-child-width-1-2@s uk-grid-match uk-flex uk-flex-middle uk-grid-small" uk-grid>

		<a href="{{ _x('#', 'One - link', 'featured-page-blocks')|e('esc_url') }}">
			<div class="uk-inline">
				<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
					<img class="uk-transition-scale-up uk-transition-opaque" src="{{ _x('https://picsum.photos/600/500?random=3', 'One - img link', 'featured-page-blocks')|e('esc_url') }}" width="600" height="500" alt="{{ _x('Image by Lorem Picsum', 'One - img alt text', 'featured-page-blocks')|e('esc_html') }}">
					<div class="uk-position-cover uk-overlay uk-overlay-default"></div>
					<div class="uk-position-center uk-text-center uk-dark">
						<div class="uk-button uk-button-text uk-text-large">{{ _x('Item', 'One - title', 'featured-page-blocks')|e('esc_html') }}</div>
					</div>
				</div>
			</div>
		</a>

		<a href="{{ _x('#', 'Two - link', 'featured-page-blocks')|e('esc_url') }}">
			<div class="uk-inline">
				<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
					<img class="uk-transition-scale-up uk-transition-opaque" src="{{ _x('https://picsum.photos/600/500?random=4', 'Two - img link', 'featured-page-blocks')|e('esc_url') }}" width="600" height="500" alt="{{ _x('Image by Lorem Picsum', 'Two - img alt text', 'featured-page-blocks')|e('esc_html') }}">
					<div class="uk-position-cover uk-overlay uk-overlay-primary "></div>
					<div class="uk-position-center uk-text-center uk-light">
						<div class="uk-button uk-button-text uk-text-large">{{ _x('Item', 'Two - title', 'featured-page-blocks')|e('esc_html') }}</div>
					</div>
				</div>
			</div>
		</a>

	</div>
</section>
